body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    background-color:  #2C3539;
}


#logo2, #logo2{
    font-family: 'Playfair Display', serif;
}

#logo1{
    color: hsla(300, 10%, 5%, 0.7);
}
#logo2{
    color: orangered;
}


.form-container{
    background-color: #ffffff;
    margin: 50px auto;
    display: grid;
    grid-auto-rows: auto;
    padding-top: 20px;
    border-radius: 7px;
    width: 45%;
    font-size: 0.9em;
}

.form-container form .form-control{
    margin: 5px auto;
    border-radius: 6px;
}

.form-container .form-control{
    width: 80%;
}

.form-container form label{
    margin-left: 10%;
}

/*style buttons*/

.form-container button{
    display: grid;
    margin: 20px auto;
    width: 150px;
}
#login{
    height: 75vh;
}

#login button{
    margin-top: 50px;
    margin-bottom: 50px;
}
#signup{
    display: none;
}

#message{
    font-weight: bolder;
    font-family: 'Playfair Display', serif;
}

label{
    text-transform: capitalize;
}

/*responsive website design */

@media only screen and (max-width:1000px){
    .form-container{
        width: 40vw;
    }
}


@media (min-width:500px) and (max-width:745px){
    .form-container{
        width: 50vw;
    }
}

@media (max-width:500px){
    .form-container{
        width: 60vw;
    }
}