body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #2C3539;
}

/*style the body's scrollbar*/

body::-webkit-scrollbar{
    width: 12px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 12px;
    height: 50px;
}


/*stop stylings for body scrollbar*/

/*style the nav bar */
.navbar{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: start;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
}

p[class="message"]{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 14px;
    color: white;
}

#logo2{
    color: orangered;
}

.next-btn{
    width: 100px;
    padding: 7px;
    float: right;
    margin-right: 12%;
    margin-bottom: 20px;
}


/*remove the lines below 
the .btn-container and .red-button have been used for learning purposes i.e 
how to link a css file or properties using @import "" or @import url()
*/
.btn-container{
    background-color: #000000;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    width: 50vw;
    height: 300px;
    margin: 0px auto;
    border-radius: 7px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.red-button{
    background-color: red;
    padding: 10px;
    color: white;
    border: 1px solid white;
    outline: offs;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 0 0 0 3px #27d9b4,
    inset 0 0 0 1px #fff;
}
/*Stop removing lines*/

.complete-user-profile{
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: repeat(5, 70px);
    grid-gap: 30px 5px;
    margin: 40px auto;
    border-left: 1px solid black;
}
.step{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 20px;
}


.step-icon {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: small;
    background-color: #ffffff;
    color: white;
    position: relative;
    left: -20%;
    border: 1px solid lightblue;
}

.step-icon p{
    position: relative;
    top: 10px;
}

.step-icon span{
    margin-left: 8px;
}


.step1{
    margin-top: -30px;
}

.step5{
    margin-top: 30px;
}
.data{
    padding: 20px;
    background-color: #ffffff;
    font-size: small;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    transition: height .4s;
    transition-timing-function: ease-out;
    overflow-y: hidden;
}

.data:hover .complete-user-profile {
    color: red;
}

#info {
    margin-top: 50px;
}


.data-head{
    font-size: 15px;
}
/*style the  expand and expand less arrows */

.data-head img, .less-arrow{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: calc(-1px - 0.5px);
}

.less-arrow{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    display: none;
}

#personal-information-form, #education-information-form, #work-information-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-size: 1em;
}
#personal-information-form div, #education-information-form div, #work-information-form div{
    padding: 10px;
    box-sizing: border-box;
}

.data > .form-control[type="date"]{
    width: fit-content;
}
.personal-info-btn{
    grid-area: 5/1/6/3;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*stylings for education informatio of the user*/

.additional-info{
    grid-area: 4/1/5/3;
}

.education-btn{
    grid-area: 5/1/6/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.education-btn button{
    margin-left: 20px;
}


/*style the upload form */

.upload-form{
    height: 80%;
    width: 70%;
    margin-top: 40px;
}

.upload-form form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
}

input[type="file"]{
    display: block;
    margin: 20px auto;
    height: fit-content;
    background-color: lightgray;
}

.text{
    font-size: large;
    font-weight: bolder;
}

.file-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-btn{
    display: grid;
    margin: 30px auto;
    height: 40px;
}

