<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=no, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <title>Talanta Home</title>
</head>
<body>
    <div class="navbar">
        <div><h6><span id="logo1">Talanta</span> <span id="logo2">Hub</span></h6></div>
        <div class="navItems">
            <ul>
                <li class="activeNav">Home</li>
                <li>Saved</li>
                <li>Reports</li>
                <li>Messages</li>
            </ul>
        </div>
        <div class="other-options">
            <div class="search-bar">
                <form action="" name="search">
                    <input type="text" name="search-job" id="search-job" placeholder="search job" class="form-control form-control-sm">
                </form>
            </div>
            <div class="notifications">
                <img src="../images/notifications_FILL0_wght400_GRAD0_opsz48.png" alt="notification icon" class="img img-responsive img-rounded" title="Notifications">
            </div>
            <!--Use the right image folde in the div below-->
            <div class="profile">Profile <img src="../../user_profile_creator/images/arrow_drop_down_FILL0_wght400_GRAD0_opsz48.svg" alt="profile"></div>
        </div>
    </div>
    <div class="jobs">
        <div class="sidebar">
            <div>Filter By</div>
            <div>My applications</div>
            <div>Upload Resume</div>
            <div>Edit Profile</div>
            <div>Appearences & views</div>
            <div class="side-bottom">FAQs</div>
            <div class="side-bottom">Contact Suppport</div>
            <div class="side-bottom">Polices & Terms of Use</div>
        </div>
        <div class="main-content">
            <div class="container job-post">
                <div class="job-title"><h6 class="text-sm-start" id="job-title">Human Resource Manager</h6></div>
                <div class="description">
                    <p class="job-description-head">Job Description</p>
                    <hr>
                    <p>We are looking for a professional Human Resource Manager (HR Manager). You will manage all our HR processes and practices, including recruiting, training and onboarding, benefits and retention.</p>
                </div>
                <div class="responsibilities">
                    <p>Responsibilities</p>
                    <ul class="list">
                        <li>Develop and implement HR strategies and initiatives aligned with the overall business strategy</li>
                        <li>Bridge management and employee relations by addressing demands, grievances, or other issues.</li>
                        <li>Manage the recruitment and selection process.</li>
                        <li>Manage and administer payroll.</li>
                        <li>Nurture a positive working environment.</li>
                        <li>Oversee and manage performance appraisal system that drives high performance.</li>
                        <li>Assess training needs to apply and monitor training programs.</li>
                        <li>Overseeing the health and safety of all employees.</li>
                        <li>Ensuring accurate and proper record-keeping of employee information in electronic and digital format.</li>
                        <li>Advising line managers and other employees on employment law and employer’s own employment policies and procedures.</li>
                    </ul>
                </div>
                <div class="requirements">
                    <p>Requirements</p>
                    <ul>
                        <li>A relevant professional qualification</li>
                        <li>3-5 years’ experience in similar role with responsibility for managing HR and administration function.</li>
                        <li>People oriented and results driven</li>
                        <li>In-depth knowledge of Human Resource operations.</li>
                        <li>Demonstrated understanding of employment legislation and regulations relevant to HR functions.</li>
                        <li>Must be knowledgeable of investigative techniques, i.e., appropriate method of dealing with complaints, accusations, and grievances.</li>
                        <li>Bachelor’s degree in human resource, business administration or related field</li>
                    </ul>
                </div>
                <div class="others">
                    <ul>
                        <li>Apply</li>
                        <li>50+ applications</li>    
                        <li>Save</li>
                        <li>Share</li>
                        <li>More <img src="../images/arrow_drop_down_FILL0_wght400_GRAD0_opsz48.svg" alt="More"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>